@font-face {
    font-family: "GothaProBol";
    src: url('../fonts/GothaProBol.otf') format("opentype");
}

@font-face {
    font-family: "GothaProReg";
    src: url('../fonts/GothaProReg.otf') format("opentype");
}

body {
    background: radial-gradient( circle, #65a2ed, #5697e8, #1b50a5);
    font-family: GothaProReg, sans-serif;
    color: white;
    font-size: 18pt;
}

.block__header--text {
    width: 960px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 69px;
}

.text__header--vedomost {
    font-weight: 200;
}

.container {
    display: flex;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
    font-family: GothaProBol, sans-serif;
    font-size: 26pt;
    letter-spacing: 3px;
	margin-top: 0px;
	position: relative;
    top: 25%
}

.block__main--form {
	position: relative;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block__secondary--form {
	position: relative;
    top: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    font-family: GothaProReg, sans-serif;
    background: rgba(255, 255, 255, 0.4);
    border: 0px;
    border-bottom: 2px solid white;
    width: 354px;
    height: 60px;
    padding-left: 10px;
    font-size: 18pt;
}

input:hover {
    background: #fff;
    border-bottom-color: #8cd536;
    color: #222;
}

input:focus {
    background: #fff;
    border-bottom-color: #8cd536;
    color: #222;
}
button {
    background: #0e316c;
    font-family: GothaProBol, sans-serif;
    color: #fff;
    font-size: 16pt;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    border: 0px;
    border-bottom: 2px solid #052547;
    width: 354px;
    height: 60px;
    margin-top: 30px;
}

button:hover {
    background: #052547;
}

.form__span--login {
    font-family: GothaProBol, sans-serif;
    font-size: 16pt;
    position: relative;
    left: -137px;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 25px;
}

.form__span--mark {
    font-family: GothaProBol, sans-serif;
    font-size: 16pt;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    padding: 

}

.form__span--password {
    font-family: GothaProBol, sans-serif;
    font-size: 16pt;
    position: relative;
    left: -130px;
    padding-top: 35px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.form__span--key {
    font-family: GothaProBol, sans-serif;
    font-size: 16pt;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.footer {
    position: absolute;
    left: 0;
    height: 80px;
    bottom: 0;
    width: 100%;
    font-size: 16pt;
}

.input__setting--style{
	font-family: GothaProReg, sans-serif;
    background: rgba(255, 255, 255, 0.4);
    border: 0px;
    border-bottom: 2px solid white;
	width: 303px;
	height: 60px;
	font-size: 18pt;
}

.button__setting--style{
	font-family: GothaProBol, sans-serif;
    color: #fff;
    font-size: 16pt;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 0px;
    border-bottom: 2px solid #052547;
    width: 294px;
    height: 60px;
    margin-top: 30px;
}

.button__a{
    font-family: GothaProBol, sans-serif;
    color: #fff;
    font-size: 16pt;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 0px;
    border-bottom: 2px solid #052547;
    width: 294px;
    height: 60px;
    margin-top: 30px;
    background: #0e316c;
    text-align: center;
    line-height: 3;
    text-decoration: none;
}

.button__a:hover{
     background: #052547;
}

.block__header--text-2{
    justify-content: space-between;
}

.text__header--exit{
    color: #fff;
    text-decoration: none;
}

.text__header--exit:hover{
    opacity: 0.8;
}

.form__display--flex{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 50px;
    margin-bottom: 30px
}

.input__setting--margin{
    margin-top: 20px;
}

table{
    width:960px; 
    border-spacing: 0;
}

thead{
    font-family: GothaProBol, sans-serif;
    text-transform: uppercase;
    font-size: 16pt;
    background: #fff;
    color: #052547;
}

tbody{
    font-family: GothaProReg, sans-serif;
    font-size: 16pt;
    background: #2a559c;

}

table thead tr td {
    border-left: 2px solid #0e316c;
    border-bottom: 2px solid #0e316c;
    padding: 15px
}

table thead tr td:first-child {
    border-left: 0px;
    text-align: center;
}

table thead tr td:last-child{   
    text-align: center;
}

table tbody tr td {
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 15px
}

table tbody tr td:first-child {
    border-left: 0px;
    text-align: center;
}

table tbody tr td:last-child{
    font-family: GothaProBol, sans-serif;   
    text-align: center;
}

.footer__table{
    margin-top: 100px;
}

input::-webkit-input-placeholder{
    font-family: GothaProReg, sans-serif;
    font-style: italic;
    font-size: 10pt;
    text-overflow: ellipsis;
    padding-left: 10px;
    color: #fff;
}

input::-moz-placeholder{
    font-family: GothaProReg, sans-serif;
    font-style: italic;
    font-size: 10pt;
    text-overflow: ellipsis;
    padding-left: 10px;
    color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    width: 30%;
    height: 30%;
    top: 25%;
    position: absolute;
    transition: all 5s ease-in-out;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.popup h2 {
  margin-top: 0;
  color: #052547;
  text-transform: uppercase;
  font-family: GothaProBol, sans-serif;
  font-size: 20pt;
  letter-spacing: 1px;
  text-align: center
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #5697e8;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.popup__text{
    color:#333;
    text-align: center;
    font-size: 16px;
}

.popup__button-a{
    font-family: GothaProBol, sans-serif;
    color: #fff;
    font-size: 15pt;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 0px;
    width: 294px;
    height: 60px;
    border-bottom: 2px solid #052547;
    background: #0e316c;
    text-decoration: none;
    position: relative;
    top: 46;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.popup__button-a:hover{
     background: #052547;
}
