.input {
  @include range(440, 440, 50, 50);
  @include typography(16, 400, 25, $dark-slate-blue);
  padding: 0 19px;
  border-radius: 7px;
  background-color: $white-two;
  box-sizing: border-box;
  border: 1px solid transparent;
  font-family: 'Roboto', sans-serif;
  transition: border-color .3s ease-in-out;

  &_error {
    border-color: $reddish-pink;
  }

  @media (max-width: 767px) {
    max-width: 100%;
    min-width: 100%;
  }

  &:active {
    border-color: $faded-blue;
  }

  &:focus {
    border-color: $faded-blue;
    @include outline(transparent);
  }

  &::-webkit-input-placeholder {
    @include typography(16, 400, 25, $bluey-grey);
  }
  &::-moz-placeholder {
    @include typography(16, 400, 25, $bluey-grey);
  }
  &:-ms-input-placeholder {
    @include typography(16, 400, 25, $bluey-grey);
  }
  &:-moz-placeholder {
    @include typography(16, 400, 25, $bluey-grey);
  }

  &_theme_dark {
    @include range(550, 550, 60, 60);
    background-color: $dark-grey-blue;
    color: $white-two;

    &:active {
      border-color: $white-two;
    }

    &:focus {
      border-color: $white-two;
      @include outline(transparent);
    }

    @media (max-width: 767px) {
      max-width: 100%;
      min-width: 100%;
    }
  }
}
