.moon {
    display: inline-block;
    @include range(228.87, 228.87, 121, 121);
    @include image('/background/moon.svg', center, center, cover, no-repeat);
    z-index: -1;
    animation: moon 5s infinite ease-in-out alternate;

  @media (max-width: 767px) {
    display: none;
  }
}

#moon {
  position: absolute;
  top: -68px;
  left: 238px;
  z-index: -1;

  @media (max-width: 1600px) {
    left: 138px;
  }

  @media (max-width: 1440px) {
    left: 38px;
  }

  @media (max-width: 1200px) {
    left: 0;
  }
}
