$white-two: #ffffff;
$dark-indigo: #0c1038;
$dark-indigo-three: #0e123e;
$dark-indigo-two: #101545;
$dark-slate-blue: #262d74;
$reddish-pink: #ff2f51;
$dark-slate-blue_0: rgba(38, 45, 116, 0);
$maize: #F5B810;
$golden-rod: #F5B810;
$ocher: #bb8c0b;
$silver-three: #d5d5db;
$white-four: #f2f2f2;
$pinkish-grey-two: #bfbfbf;
$white-three: #e6e6e6;
$warm-purple: #662d91;
$greyish: #adadad;
$dark-two: #1d1f33;
$white-two_01: rgba(255, 255, 255, 0.1);
$white-two_02: rgba(255, 255, 255, 0.2);
$white-two_05: rgba(255, 255, 255, 0.5);
$white-two_04: rgba(255, 255, 255, 0.4);
$white-two_08: rgba(255, 255, 255, 0.8);
$bluey-grey: #9ea0b9;
$faded-blue: #7d82cd;
$blue-grey: #797cac;
$bluey-grey-two: #9a9dc1;
$dusk: #414471;
$twilight: #575b97;
$light-tan: #fdeab8;
$dark-0: rgba(29, 31, 51, 0);
$dark-grey-blue: #313456;
$lipstick-30: rgba(214, 25, 55, 0.3);
$pinkish-red: #EC2344;
$black-10: rgba(0, 0, 0, 0.1);
$dark-blue-grey: #24284c;
$dusk-blue: #3f2686;
$dark-indigo-four: #171254;
