body{
	font-family: 'Roboto Slab', serif;
    padding-bottom: 0px;
    padding-top: 60px;
}
.block-portfolio{
   	margin-bottom: 1.3vw;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 1;
    transition: all 1s ease;
    cursor: pointer;
}
.block-portfolio:last-child{
    display: none;
}
.block-portfolio:hover{
	opacity: 0.8;
}
.block-portfolio__img{
	width: 100%;
    height: 259px;;
}
.block-portfolio__title{
	font-weight: 400;
    color: rgb(34, 34, 34);
    font-size: 14px;
    line-height: 0.6vw;
    padding-bottom: 0;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 1vw;
}
.block-portfolio__yaer{
    color: rgb(153, 153, 153);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}
.nav-bar a{
    color: rgb(34, 34, 34);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    position: relative;
    top: -10px;
 	cursor: pointer;
}
.nav-bar a:hover,
.nav-bar a:focus,
.nav-bar a:active{
	text-decoration: none;
}
.nav-bar #nav-bar{
	padding-left: 0;
	margin-top: 26px;
}
.nav-bar #nav-bar li{
    color: rgb(153, 153, 153);
    font-size: 14px;
    line-height: 29px;
    list-style-type: none;
    cursor: pointer;
}
.nav-bar #nav-bar li:hover{
	color: rgb(34, 34, 34);
}
.nav-bar #nav-bar li:last-child{
    margin-top: 40px;
}

.nav-bar__fixed{
	position: fixed;
}
.block-modal{
	position: absolute;
    background: #fff;
	width: 1014px;
	height: auto;
    text-align: center;
    overflow-y: scroll;
	padding: 0;
	margin: 0;
	box-shadow: 0 10px 50px 0 rgba(30, 30, 30, 0.2);
	display: none;
    transition: all 0.3s ease;
}
.block-modal::-webkit-scrollbar {
    width: 0;
}

.block-portfolio__modal-img{
    max-width: 100%;
}
.block-portfolio__modal-title {
    color: rgb(34, 34, 34);
    font-size: 30px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 15px;
    padding-top: 40px;
    text-align: center;
    letter-spacing: 1px;
    width: 100%;
    text-transform: uppercase;
}
.block-portfolio__modal-subtitle{
    color: rgb(153, 153, 153);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
    padding-top: 0px;
    text-align: center;
    width: 100%;
}
.block-modal__close{
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}
.block-portfolio__modal-portfolio{
    color: rgb(153, 153, 153);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 40px;
    width: 100%;
    text-align: left;
    line-height: 23px;
    letter-spacing: 0.3px;
    padding-left: 100px;
    padding-right: 100px;
}
.block-portfolio__modal-portfolio a{
    text-decoration: underline;
    color: rgb(153, 153, 153);
    font-family: 'Roboto', sans-serif;
}

/*bs style*/
@media (min-width: 1200px){
	.container {
	    width: 1370px;
	}
	.col-lg-2{
		width: 18.366667%;
	}
	.col-lg-4 {
	    width: 32.833333%;
	}
	.col-lg-10 {
	    width: 79.333333%;
	}
}
